.about-background{
    background-image: url("../../media/about_img.jpg");
    background-size: cover;
    z-index: 0;
    background-attachment: fixed;
}

.about{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .about-content{
        padding: 2em 0 5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            width: 70%;
            text-align: center;
        }
        p{
            text-align: center;
            width: 50%;
            font-size: 1.2em;
        }
    }
    .btn-group{
        padding: 3em 0;
    }
}

@media only screen and (max-width: 500px){
    .btn-group{
        width: 70%;
    }
}