$primary-green:#219B43;

.advantages{
    display: flex;
    margin: 1% 0;
    align-items: center;
    justify-content: space-around;
    color: black;
    text-align: center;
    a{
        padding: 4% 0;
        transition: ease;
        transition-duration: 0.5s;
        color: black;
    }
    a:hover{
        box-shadow: 0 10px 20px rgba(33,155,67,0.25), 0 6px 6px rgba(33,155,67,0.35);
        
    }
    p{
        width: 60%;
        padding: 0 10% 0 15%;
    }
    .green-seperate{
        display: inline;
    }
}

@media only screen and (max-width: 500px) {
    .advantages{
      display: flex;
      flex-direction: column;   
    }
    .green-seperate{
        transform: rotate(90deg);
    }
}