{% extends 'base.html' %}
{% block content %}

    <section class="second">
        <a name="second"></a>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for field in results %}
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ field.image.url }}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{{ field.get_absolute_url }}">{{ field.title }}</a></h5>
                                        <div>
                                            {% if field.allday %}
                                                круглосуточно
                                            {% elif field.open_time and field.close_time %}
                                                ot {{ field.open_time }} do {{ field.close_time }}
                                            {% endif %}
                                        </div>
                                        <div>душ {% if field.shower %}yes{% else %}no{% endif %}</div>
                                        <div>раздевалка {% if field.changing_room %}yes{% else %}no{% endif %}</div>
                                    <div>парковка {% if field.parking %}yes{% else %}no{% endif %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
{% endblock %}