{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <span>LOGO</span>
            <div>
                <button class="white-btn">Добавить поле</button>
                <button class="green-btn">Войти</button>
            </div>
        </nav>
        <div class="header-content">
            <h1>Играйте в футбол</h1>
            <p>Записывайтесь на футбольные занятия, тренировки и детские секции, 
            бронируйте и арендуйте футбольные площадки, выбирайте клубы для занятий футболом</p>
            <button class="green-btn">Начать поиск</button>
            <img class="img-arrow" src="{% static 'images/icons8-expand-arrow-80.png' %}" alt="arrow-down">
        </div>
        
    </header>
    <main>
        <div class="advantages">
            <div class="advantages-block">
                <img src="{% static 'images/field.svg' %}" alt="field">
                <h4>Аренда площадок</h4>
                <p>Бронируйте и арендуйте площадки для спортивных игр и занятий</p>
            </div>
            <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="">
            <div class="advantages-block">
                <img  src="{% static 'images/Vector.svg' %}" alt="ball">
                <h4>Футбольные занятия</h4>
                <p>Выбирайте для себя и своих детей спортивные занятия, тренировки и секции</p>
            </div>
            <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="">
            <div class="advantages-block">
                <img src="{% static 'images/calendar.svg' %}" alt="calendar">
                <h4>Футбольные события</h4>
                <p>Выбирайте и участвуйте в спортивных событиях вашего города</p>
            </div>
        </div>
        <div class="about-background">
            <div class="about">
            <div class="btn-group">
                <button class="group-btn">Для спортсменов</button>
                <button class="group-btn">Для бизнеса</button>
                <button class="group-btn">Для тренеров</button>
                <button class="group-btn green-btn">Для организаторов</button>
            </div>
            <div class="about-content">
                <h1>Мы расскажем о вашем событии</h1>
                <p>Объединяйте людей с общими спортивными интересами, целями и желаниями. Организовывайте мероприятия и дарите людям радость от совместных занятий спортом.
                Здесь вы можете рассказать всё о своём событии и, главное, найти участников.</p>
                <button class="green-btn">Добавить мероприятие</button>
            </div>
            </div>
        </div>
        <div class="howto">
            <h1>Как записаться или арендовать поле?</h1>
            <div class="howto-content">
                <div>
                    <img src="{% static 'images/search.svg' %}" alt="search">
                    <h4>1. Находите</h4>
                    <p>футбольные занятия, поля или клубы</p>
                </div>
                <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="green-line">
                <div>
                    <img src="{% static 'images/click.svg' %}" alt="click">
                    <h4>2. Записывайтесь </h4>
                    <p>на занятия, событие и бронируйте площадки</p>
                </div>
                <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="green-line">
                <div>
                    <img src="{% static 'images/wallet.svg' %}" alt="wallet">
                    <h4>3. Оплачивайте</h4>
                    <p>онлайн или на месте</p>
                </div>
                <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="green-line">
                <div>
                    <img src="{% static 'images/playing.svg' %}" alt="playing">
                    <h4>4. Играйте</h4>
                    <p>и получайте заряд бодрости и энергии</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="icons">
            <img src="{% static 'images/001-facebook.svg' %}" alt="facebook-icon">
            <img src="{% static 'images/002-instagram.svg' %}" alt="instagram-icon">
            <img src="{% static 'images/003-vk.svg' %}" alt="vk-icon">
        </div>
        <ul class="footer-menu">
            <li class="footer-menu-item"><a href="#">О нас</a></li>
            <li class="footer-menu-item"><a href="#">Контакты</a></li>
            <li class="footer-menu-item"><a href="#">Вопросы</a></li>
            <li class="footer-menu-item"><a href="#">Добавить поле</a></li>
        </ul>
        <span>© 2019</span>
    </footer>
</body>
</html>
{% endblock %}