{% load static  %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <span>LOGO</span>
            <div>
                <button class="white-btn">Добавить поле</button>
                <button class="green-btn">Войти</button>
            </div>
        </nav>
        <div class="header-content">
            <h1>Играйте в футбол</h1>
            <p>Записывайтесь на футбольные занятия, тренировки и детские секции, 
            бронируйте и арендуйте футбольные площадки, выбирайте клубы для занятий футболом</p>
            <button class="green-btn">Начать поиск</button>
            <img class="img-arrow" src="{% static 'images/icons8-expand-arrow-80.png' %}" alt="arrow-down">
        </div>
        
    </header>
    <main>
        <div class="advantages">
            <div class="advantages-block">
                <img src="{% static 'images/field.svg' %}" alt="field">
                <h4>Аренда площадок</h4>
                <p>Бронируйте и арендуйте площадки для спортивных игр и занятий</p>
            </div>
            <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="">
            <div class="advantages-block">
                <img  src="{% static 'Vector.svg' %}" alt="ball">
                <h4>Футбольные занятия</h4>
                <p>Выбирайте для себя и своих детей спортивные занятия, тренировки и секции</p>
            </div>
            <img class="green-seperate" src="{% static 'images/Vector 3.svg' %}" alt="">
            <div class="advantages-block">
                <img src="{% static 'images/calendar.svg' %}" alt="calendar">
                <h4>Футбольные события</h4>
                <p>Выбирайте и участвуйте в спортивных событиях вашего города</p>
            </div>
        </div>
        <div class="about-background">
            <div class="about">
            <div class="btn-group">
                <button class="group-btn">Для спортсменов</button>
                <button class="group-btn">Для бизнеса</button>
                <button class="group-btn">Для тренеров</button>
                <button class="group-btn green-btn">Для организаторов</button>
            </div>
            <div class="about-content">
                <h1>Мы расскажем о вашем событии</h1>
                <p>Объединяйте людей с общими спортивными интересами, целями и желаниями. Организовывайте мероприятия и дарите людям радость от совместных занятий спортом.
                Здесь вы можете рассказать всё о своём событии и, главное, найти участников.</p>
                <button class="green-btn">Добавить мероприятие</button>
            </div>
            </div>
        </div>
        <div class="howto">
            <h1>Как записаться или арендовать поле?</h1>
            <div class="howto-content"></div>
        </div>
    </main>
    <footer>
        <h1>hello</h1>
    </footer>
</body>
</html>