{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Регистрация' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6 ml-auto mr-auto">

            <div class="card">
                <div class="card-header">{% trans 'Регистрация' %}</div>
                <div class="card-body">
                    <form action="" method="post" class="form ">

                        {{ form.errors }}
                        {% if form.non_field_errors %}
                            <div class="non-field-errors alert alert-danger">
                                {% for err in form.non_field_errors %}
                                    <p class="form-error">{{ err }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form %}

                            <fieldset class="form-group row mb25 {% if field.errors %}has-error{% endif %}">

                                <div class="col-md-12">
                                    <label for="{{ field.auto_id }}">
                                        {{ field.label }}
                                    </label>

                                    {{ field }}

                                    {% for err in field.errors %}
                                        <div class="form-control-feedback invalid-feedback">{{ err }}</div>
                                    {% endfor %}

                                    <small class="form-text text-muted">
                                        {{ field.help_text }}
                                    </small>
                                </div>

                            </fieldset>

                        {% endfor %}


                        <div class="form-actions text-center">
                            {% csrf_token %}
                            <button type="submit"
                                    role="button"
                                    class="btn btn-primary">{% trans 'Регистрация' %}</button>



                            <div class="row">
                                <div class="card-group">
                                    {% for field in fields %}
                                        <div class="col-4 mb-5">
                                            <div class="card">
                                                <img src="{{ field.image.url }}" class="card-img-top" alt="..."
                                                     style='width:100%; height: 350px;'>
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="{{ field.get_absolute_url }}">{{ field.title }}</a></h5>
                                                    <p class="card-text">This card has supporting text below as a natural lead-in to
                                                        additional content.</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">{{ field }}</small>
                                                    </p>
                                                    {% if request.user.is_authenticated %}
                                                        <p class='text-right'><a href='#' class='add_to_cart'
                                                                                 data-slug='{{ field.slug }}'></a></p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            &nbsp;&nbsp;

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}