section {
    position: relative;
}

.first-headline {
    color: deepskyblue;
    position: absolute;

    right: 60px;
    bottom: 80px;

    background-color: rgba(255, 255, 255, .7);
    padding: 10px;
}

.second, .third {
    padding: 40px;
}

.second {
    background-color: deepskyblue;
}

.third {
    background-color: #005cbf;
    color: yellow;
}
